LEAD_APP_SMTP_HOST=smtp.strato.de
LEAD_APP_SMTP_PORT=587
LEAD_APP_SMTP_USER=your-user@example.com
LEAD_APP_SMTP_PASS=your-smtp-password
LEAD_APP_FIXED_SENDER_EMAIL=octrion@visy-gmbh.com
LEAD_APP_AUTH_API_TARGET=https://test-100.ecotec-digital.de
